<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col">
      <h4>Requests and Assignment Maintenance</h4>
      <br>
      <h5>Request Maintenance</h5>
      <br>
      <a [routerLink]="['../requests']">* Review and Maintain Ticket Requests</a>
      <br><br><br>
      <h5>Special Request Maintenance</h5>
      <br>
      <a [routerLink]="['../special-requests']">* Review and Maintain Special Ticket Requests</a>
      <br><br><br>
      <h5>Assignment Maintenance</h5>
      <br>
      <a [routerLink]="['../assignments']">* Review and Maintain Ticket Assignments</a>
    </div>
    <div class="col">
      <h4>Database Maintenance Tasks</h4>
      <br>
      <h5>Ticket Maintenance</h5>
      <br>
      <a href [routerLink]="['../tickets']">* Maintain Tickets</a>
      <br><br>
      <a href [routerLink]="['../ticket-templates']">* Maintain Ticket Templates</a>
      <br><br><br>
      <h5>Event Maintenance</h5>
      <br>
      <a href [routerLink]="['../events']">* Maintain Events</a>
      <br><br>
      <a href [routerLink]="['../event-templates']">* Maintain Events Templates</a>
      <!-- <br><br><br>
      <h5>List Maintenance</h5>
      <br>
      * Maintain Ticket Usage Reasons
      <br>
      * Maintain Ticket Statuses
      <br>
      * Maintain Ticket Request Statuses
      <br>
      * Maintain Ticket Categories
      <br>
      * Maintain Ticket Venues
      <br> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col">
      <br><br><br>
      <h4>Reporting</h4>
      <br>
      <a [routerLink]="['../reporting']">* Ticket Usage By Attorney</a>
      <br><br><br>
    </div>
  </div>
</div>
