#loadingAnimation {
  position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 1051;
  /*opacity: 0.8;*/
}

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 140%;
  color: #f8f9fa;
  transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	text-align: center;
}