<div class="container-fluid">
  <div *ngIf="!visibleFilterForm">
    <div class="row-fluid">
      <div class="combobox-container">
        <app-filter-drop-down
          #userFilter
          [showSearchBar]='true'
          [filterName]="'User'"
          [filterOptionList]="userService.users"
          [filterDisplayKey]="'userName'"
          [optionValDisplayKey]="'userName'"
          (filterActiveCallback)="clearSelection(); assignedToByUserFilterUpdate($event)"
          (filterClearCallback)="clearSelection(); assignedToByUserFilterUpdate($event)">
        </app-filter-drop-down>
      </div>
      <div *ngIf="fromDate || toDate" class="float-left mt-2">
        <h5>Ticketing Report By Usage | From {{fromDate}} To {{toDate}}</h5>
      </div>
      <table class="table table-hover">
        <thead>
          <!-- <th scope="col">Event #</th> -->
          <th scope="col">Event Information</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Request Date</th>
          <th scope="col">Assigned Date</th>
          <!-- <th scope="col">Status</th> -->
          <!-- <th scope="col">Delivery Type</th>
          <th scope="col">Delivery Email Address</th> -->
          <th scope="col">Seat Type</th>
          <th scope="col">Section/Row/Seat</th>
          <th scope="col">Usage Reason</th>
          <th scope="col">Client Matter Number</th>
          <th scope="col">Guest Name</th>
          <th scope="col">Guest Company</th>
        </thead>
        <tbody class="table-content-sm">
          <tr
            *ngFor="
              let assignment of assignmentService.ticketAssignmentsForReporting |
              objectFilter: 'GuestAssociatedFirmAttorney' : userFilter.filterVal?(userFilter.filterVal.userAccount) : null : 'EQUALS' |
              paginate: { itemsPerPage: 10, currentPage: pageNbr }; let i = index">
            <!-- <td>{{ assignment.AssignmentNumber }}</td> -->
            <td>
              {{ assignment.EventDescription }}<br>{{ assignment.EventDateTime.date.replace(" ", "T").split(".")[0] | date:'EEEE, M/d/y, h:mm a' }}
            </td>
            <td>{{ assignment.GuestAssociatedFirmAttorney }}</td>
            <td>{{ assignment.RequestDateTime.replace(" ", "T").split(".")[0] | date:'EEEE, M/d/y, h:mm a' }}</td>
            <td>{{ assignment.stepInitialCreatedDateTime.replace(" ", "T").split(".")[0] | date:'EEEE, M/d/y, h:mm a' }}
            </td>
            <!-- <td>{{ assignment.Status }}</td> -->
            <!-- <td>{{ assignment.AssociatedTicketDeliveryType }}</td>
            <td>{{ assignment.GuestEmail}}</td> -->
            <td>{{ assignment.AssociatedSeatType }}</td>
            <td>{{ assignment.Section }} / {{ assignment.Row }} / {{ assignment.Seat }}</td>
            <td>{{ assignment.AssociatedReasonCode }}</td>
            <td>{{ assignment.ClientMatter }}</td>
            <td>{{ assignment.GuestName }}</td>
            <td>{{ assignment.GuestCompany }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls autoHide="true" (pageChange)="pageNbr = $event"></pagination-controls>
    </div>
  </div>

  <div *ngIf="visibleFilterForm">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="d-flex justify-content-md-center align-items-center">
                <!-- <div class="form-inline mr-3">
                  <label>From Date:</label>
                  <div class="ml-3">
                    <p-calendar class="calendar-input-invalid"  dataType="string" [(ngModel)]="fromDate"
                    (onSelect)="fromDate = $event;" readonlyInput="true" dateFormat="DD, mm/dd/yy"
                    placeholder="Select Date">
                    </p-calendar>
                  </div>
                </div>
                <div class="form-inline">
                  <label>To Date:</label>
                  <div class="ml-3">
                    <p-calendar class="calendar-input-invalid"  dataType="string" [(ngModel)]="toDate"
                    (onSelect)="toDate = $event;" readonlyInput="true" dateFormat="DD, mm/dd/yy"
                    placeholder="Select Date">
                    </p-calendar>
                  </div>
                </div> -->
                <div class="form-inline mr-3">
                  <label class="mr-4">From Date:</label>
                  <div class="form-group-calendar-input" [formGroup]="formgrp_fromDate">
                    <p-calendar class="calendar-input-invalid" dataType="string" formControlName="formctrl_fromDate"
                      readonlyInput="true" dateFormat="DD, mm/dd/yy" placeholder="Select Date">
                    </p-calendar>
                  </div>
                </div>
                <div class="form-inline mr-3">
                  <label class="mr-4">To Date:</label>
                  <div class="form-group-calendar-input" [formGroup]="formgrp_toDate">
                    <p-calendar class="calendar-input-invalid" dataType="string" formControlName="formctrl_toDate"
                      readonlyInput="true" dateFormat="DD, mm/dd/yy" placeholder="Select Date">
                    </p-calendar>
                  </div>
                </div>
                <div class="form-inline">
                  <label class="mr-4" for="usageReason">Usage Reason:</label>
                  <div #usageReason="ngbDropdown" placement="bottom-left" ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-custom-details btn-no-margin" id="dropdownUseReason"
                      name="dropdownUseReason" ngbDropdownToggle>
                      {{ reasonCode ? reasonCode : "Select Usage Reason" }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownUseReason">
                      <button ngbDropdownItem class="dropdown-item" *ngFor="let reason of ticketService.usageReasons"
                      (click)="reasonCode = reason.Reason.trim(); usageReason.close()">
                        {{ reason.Reason.trim() }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-inline">
                  <button type="button" class="btn btn-primary ml-3" (click)="getReportData()">Submit</button>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
