/* /deep/ .container {
  min-width: 1280px;
} */

.combobox {
  left: auto !important;
  right: -1px;
}

.combobox-container {
  float: right;
  margin: 0 0 15px 15px;
}

.combobox-filter {
  max-height: 50vh;
  overflow-y: auto;
}

.combobox-action {
  margin-left: 15px;
}

.dropdown-icon {
  margin-right: 15px;
}

.transfer-modal-user-selection {
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 120%;
}

.table-transfer-tickets {
  margin: 20px 0 20px 0;
}

.dropdown-transfer-user {
  max-height: 50vh;
  overflow-y: auto;
}

/deep/ .breadcrumb {
  margin-bottom: 25px;
}

/deep/ .swal-text {
  font-size: 15px;
  text-align: left;
  line-height: 190%;
}

/deep/ .swal-modal {
  width: 68%;
}

/deep/ .swal-title:not(:last-child) {
  margin-bottom: 20px;
}

/deep/ .ui-inputtext {
  padding: .375rem .75rem;
  font-size: 1rem;
  width: 200px;
  display: block;
  color: #495057;
}

.form-group-calendar-input {
  border-left: 0px !important;
}

.calendar-input-invalid {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 3.2% 0 4.2% 0;
}
