.btn {
  padding: .375rem .75rem;
  font-size: 0.9rem;
  background-color: transparent;
  border: 1px solid #d6d6d6;
}

.btn:hover {
  background-color: #ececec;
}

.fa-times {
  margin-left: 8px;
  cursor: pointer;
}

.fa-bolt {
  margin-right: 8px;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
}